/Aufgabe_004_Gaus.class
/Aufgabe_005_Ausgaben.class
/Aufgabe_006.class
/Aufgabe_007_Zahlen_Raten.class
/Aufgabe_008_Monatstage.class
/Aufgabe_009_GGT.class
/Aufgabe_010_Zahlenraten.class
/Aufgabe_011_GGT_Methode.class
/Aufgabe_012_static_method.class
/Aufgabe_014_Tage_Monat.class
/Aufgabe_017_java_awt_Referenzen.class
/Aufgabe_018_Gaus_Array.class
/Aufgabe_019_Array.class
/Aufgabe_020_Array_ungerade.class
/Aufgabe_022_charAT.class
/Aufgabe_023_StringBuffer_kürzung.class
/Aufgabe_026_Zugriffe.class
/Aufgabe_026_Zugriffe_main_Klasse.class
/Aufgabe_027_Vektor.class
/Aufgabe_027_Vektor_testclass_Main.class
/Aufgabe_029_Kreis.class
/Aufgabe_029_Kreis_main.class
/Aufgabe_21_Scan_zeichenkette.class
